{% extends 'blog/base.html' %}
{% block content %}
<a href="{% url 'post_create' %}"class="btn btn-primary pull-right">add post</a>
<div class="post-list">
    {% for post in posts %}
    <div class="post">
        <h3><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h3>
        <p class="text-right"><small>published: {{post.published_date}}</small></p>
        <p>{{post.text|truncatechars:150}}</p>
        <a href="{% url 'post_modify' pk=post.pk %}"
           class="btn btn-default pull-right">수정</a>
    </div>
    {% endfor %}
</div>

{% endblock %}